PRACTICAL 3

In [ ]:
#defining a corpus
messages = ["The morning was very good",
           "The apple pie did not taste good",
           "Good morning to everyone"]

Count Vectorizer

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()

In [ ]:
features = vect.fit_transform(messages)

In [ ]:
vect.transform(messages).toarray()

array([[0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1],
       [1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0],
       [0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0]])

In [ ]:
name = vect.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
dataframe = vect.transform(messages)

In [ ]:
import pandas as pd
pd.DataFrame(dataframe.toarray(), columns=name)

   apple  did  everyone  good  morning  not  pie  taste  the  to  very  was
0      0    0         0     1        1    0    0      0    1   0     1    1
1      1    1         0     1        0    1    1      1    1   0     0    0
2      0    0         1     1        1    0    0      0    0   1     0    0

Tfidf Vectorizer

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
vect_tfidf = TfidfVectorizer()
dataframe_tfidf = vect_tfidf.fit_transform(messages) # create DTM
    
    # create pandas dataframe of DTM
pd.DataFrame(dataframe_tfidf.toarray(), columns=name)

      apple       did  everyone  ...        to      very       was
0  0.000000  0.000000  0.000000  ...  0.000000  0.534093  0.534093
1  0.410747  0.410747  0.000000  ...  0.000000  0.000000  0.000000
2  0.000000  0.000000  0.584483  ...  0.584483  0.000000  0.000000

[3 rows x 12 columns]